.photo-container{
    height: 70%;
    width: 85%;
    margin: auto;
    margin-top: 2.5%;
    background: #ffffff;
    border-radius: 5px;
    /* display: -webkit-flex; */
    display: flex;
    flex-flow: row wrap;
    padding: 2%;
    -webkit-justify-content: center;
    /* justify-content: center; */
    overflow: auto;
}
