.App {
  text-align: center;
}

.landing {
  background: url('./assets/images/landing_page_dark.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  
}

/* .landing-overlay {
  background-color: rgba(77, 77, 77, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

.landing-content {
  display: inline-block;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
  padding: 100px 15px;
}

.landing-content h1 {
  font-size: 55px;
  /* margin-left: 150px; */
}

.landing-content p {
  font-size: 30px;
}
